---
import { Image } from "astro:assets"
import { queryTags } from "../utils/contentful/api"
import { throwError } from "../utils/helpers"
import Etsy from "./svgs/Etsy.astro"
import Instagram from "./svgs/Instagram.astro"

type Props = {
	tag: string
}

const { tag } = Astro.props

const tags = await queryTags(`metadata.tags.sys.id[all]=${tag}`)

const images = tags.items.map((item) => {
	// response returns alt and media metadata in different arrays
	// match via media ID
	const itemId = item.fields.media.sys.id
	const asset =
		tags.includes.Asset.find((asset) => asset.sys.id === itemId) ??
		throwError(`Couldn't find corresponding asset for item ${itemId}`)

	return {
		alt: item.fields.alt,
		src: asset.fields.file.url,
		height: asset.fields.file.details.image.height,
		width: asset.fields.file.details.image.width,
		instagramUrl: item.fields.instagramUrl,
		etsyUrl: item.fields.etsyUrl,
	}
})

type Image = (typeof images)[number]

const columns = Array.from({ length: 4 }, () => ({ height: 0, images: [] as Image[] }))

for (const image of images) {
	// get column with lowest total height
	const targetColumn = columns.sort((a, b) => a.height - b.height)[0] ?? throwError("Error getting target column")

	targetColumn.images.push(image)
	targetColumn.height += image.height
}

const imageArrays = columns.map((column) => column.images)
const sortedImageArrays = imageArrays.sort((a, b) => b.length - a.length)
---

<div id="container" class="grid grid-cols-1 sm:grid-cols-4 p-5 sm:p-12 gap-4 z-50">
	{
		sortedImageArrays.map((images) => (
			<div>
				{images.map((image) => (
					// relative block to display svg links on top of image
					<div class="inline-block relative group mb-2">
						<Image
							src={image.src}
							alt={image.alt}
							width={image.width}
							height={image.height}
							class="h-auto max-w-full"
							loading="lazy"
						/>
						<div class="flex absolute bottom-2 left-2 opacity-0 group-hover:opacity-100 transition-opacity ease-in-out duration-200">
							{image.etsyUrl && (
								<a href={image.etsyUrl} target="_blank">
									<Etsy classList="fill-secondary mr-2" width={24} height={24} />
								</a>
							)}
							{image.instagramUrl && (
								<a href={image.instagramUrl} target="_blank">
									<Instagram classList="fill-secondary" width={24} height={24} />
								</a>
							)}
						</div>
					</div>
				))}
			</div>
		))
	}
</div>
